@using System.ComponentModel.DataAnnotations
@using System.Linq.Expressions
@typeparam TEnum where TEnum:Enum
<DxComboBox TData="EnumData" TValue="TEnum" 
            TextFieldName="@nameof(EnumData.DisplayText)"
            ValueFieldName="@nameof(EnumData.Value)"
            ValueChanged="@ValueChanged"
            ValueExpression="@ValueExpression"
            Value="@Value"
            Data="@Values" @ref="ComboBox"></DxComboBox>

@code {

    DxComboBox<EnumData, TEnum> ComboBox;
    
    class EnumData
    {
        public TEnum Value { get; set; }
        public string DisplayText { get; set; }
    }

    [Parameter]
    public TEnum Value { get; set; }
    
    private List<EnumData> Values { get; set; }

    [Parameter]
    public Expression<Func<TEnum>> ValueExpression { get; set; }
    
    [Parameter]
    public EventCallback<TEnum> ValueChanged { get; set; }

    protected override void OnInitialized()
    {
        Values = Enum.GetValues(typeof(TEnum))
            .OfType<TEnum>()
            .Select(t => new EnumData()
            {
                Value = t,
                DisplayText = t.GetAttribute<DisplayAttribute>()?.Name ?? t.ToString()
            }).ToList();
    }

}