@inherits ServiceStack.Blazor.BlazorComponentBase
@using System.Reflection
@using Microsoft.AspNetCore.Components.Rendering
@using System.Diagnostics
@using System.Linq.Expressions
@using System.Reflection.Emit
@using DevExpress.Blazor.Editors.Internal
@using NukedBit.Sa
@typeparam TItem where TItem : class, new()
@typeparam TQueryDb where TQueryDb : IReturn<QueryResponse<TItem>>, IQueryDb
@typeparam Create where Create : ICreateDb<TItem>, IReturn<IdResponse>
@typeparam Update where Update : IPatchDb<TItem>, IReturn<IdResponse>
@typeparam Delete where Delete : IDeleteDb<TItem>, IReturnVoid

@inject ILogger<SaGrid<TItem, TQueryDb, Create, Update, Delete>> _logger
@inject ISaConfig SaConfig;

<DxGrid Data="@_dataSource" PageSize="@PageSize"
        ShowFilterRow="@ShowFilterRow"
        AllowSort="true"
        EditMode="GridEditMode.EditForm"
        KeyFieldNames="@PrimaryKeyFields"
        EditModelSaving="OnEditModelSaving"
        DataItemDeleting="OnDelete"
        CustomizeCellDisplayText="OnCustomizeCellDisplayText"
        >
    <EditFormTemplate>
        <DxFormLayout>
            <CascadingValue Value=@ResponseStatus>
                @BuildEditForm(context)
            </CascadingValue>
        </DxFormLayout>
    </EditFormTemplate>
    <Columns>

        @if (ShowCommandColumn)
        {
            <DxGridCommandColumn Width="150px"></DxGridCommandColumn>
        }
        @BuildColumns();
    </Columns>
</DxGrid>


@code {

    public ResponseStatus ResponseStatus { get; set; }
    
    async Task OnDelete(GridDataItemDeletingEventArgs args)
    {
        var deleteDto = args.DataItem.ConvertTo<Delete>();
        await this.ApiAsync(deleteDto);
    }

    async Task OnEditModelSaving(GridEditModelSavingEventArgs args)
    {
        Console.WriteLine(("Edit model saving"));
        var dataItem = args.EditModel; //args.DataItem ?? new TItem();
        
        if (args.IsNew)
        {
            var createDto = dataItem.ConvertTo<Create>();
            var apiResult = await ApiAsync(createDto);
            ResponseStatus = apiResult.Error;
            args.Cancel = apiResult.Failed;
        }
        else
        {
            var updateDto = dataItem.ConvertTo<Update>();
            var apiResult = await ApiAsync(updateDto);
            ResponseStatus = apiResult.Error;
            args.Cancel = apiResult.Failed;
        }
    }

    protected virtual bool ShowCommandColumn => true;


    protected virtual List<TItem> FilteredItems => null;

    public bool ShowSearch { get; set; }


    public virtual int PageSize => 20;

    [Parameter]
    public bool ShowFilterRow { get; set; }

    //   public (PropertyInfo Info, SaGridColumnAttribute Attribute)[] AutoUIProperties { get; set; }
    public string[] PrimaryKeyFields { get; set; }

    private ServiceStackGridDataSource<TQueryDb, TItem> _dataSource;


    [Parameter]
    public Func<TQueryDb> QueryDb { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _dataSource = new ServiceStackGridDataSource<TQueryDb, TItem>(QueryDb, Client, SaConfig.GetConfiguredType<TItem>(), _logger);

        PrimaryKeyFields = SaConfig.GetConfiguredType<TItem>()
            .PropertyOptions.Where(po => po.ColumnOptions.IsKeyFieldName)
            .Select(po => po.Name).ToArray();
    }

    private RenderFragment BuildEditForm(GridEditFormTemplateContext context)
    {
        void Build(RenderTreeBuilder builder)
        {
            var propertiesOptions = SaConfig.GetConfiguredType<TItem>()
                .PropertyOptions;
            var componentBuilder = builder.BuilderWithCounter();
            foreach (var propertiesOption in propertiesOptions.Where(p => p.ColumnOptions.AllowEdit))
            {
                componentBuilder
                    .OpenComponent<DxFormLayoutItem>()
                    .AddAttributeValueOrDefault(nameof(DxFormLayoutItem.Caption), propertiesOption.ColumnOptions.Label, propertiesOption.Name)
                    .AddChildContent<ValueEditContext>((builder, _) =>
                    {
                        switch (propertiesOption.InputOptions.Type)
                        {
                            case InputTypes.Text:
                                BuildTextEditor(builder, propertiesOption, context);
                                break;
                            case InputTypes.TextArea:
                                BuildTextAreaEditor(builder, propertiesOption, context);
                                break;
                            case InputTypes.Mask:
                                BuildMaskedTextEditor(builder, propertiesOption, context);
                                break;
                            case InputTypes.ComboBox:
                                BuildDropdownEditor(builder, propertiesOption, context);
                                break;
                            case InputTypes.Date:
                                BuildDateEditor(builder, propertiesOption, context);
                                break;
                        }
                    });
                componentBuilder.CloseComponent();
            }
            componentBuilder.OpenComponent<ServiceStack.Blazor.Components.Bootstrap.ErrorSummary>();
            componentBuilder.CloseComponent();
        }

        return Build;
    }

    private void BuildDropdownEditor(IBuilderComponent builder, PropertyOptions propertiesOption, GridEditFormTemplateContext context)
    {
        var propertyType = propertiesOption.PropertyInfo.PropertyType;
        var propertyName = propertiesOption.Name;

        if (propertyType.IsEnum)
        {
            var comboBoxType = typeof(SaEnumComboBox<>).MakeGenericType(propertyType);
            var attrBuilder = builder.OpenComponent(comboBoxType);
            
            if (context.EditModel is not null)
            {
                attrBuilder.AddAttributeIfValueNotNull("Value", propertiesOption.PropertyInfo.GetPropertyValueIfNotNull(context.EditModel));
                attrBuilder.AddAttributeIfValueNotNull("ValueExpression", BuildValueExpression(propertyName, propertyType, context.EditModel));
                var evtCallBack = CreateValueChangedEventCallBackActivator(propertiesOption.PropertyInfo, context.EditModel);
                attrBuilder.AddAttributeIfValueNotNull("ValueChanged", evtCallBack);
            }
            builder.CloseComponent();
        }
        else if (propertyType.IsClass && propertiesOption.InputOptions.RelationshipOptions is { } relationshipOptions)
        {
            var relationIdPropertyInfo = FindRelationshipPropertyType(propertyName);
            var comboBoxType = typeof(SaRelationDropDown<,>).MakeGenericType(relationIdPropertyInfo.PropertyType, propertyType);
            var attrBuilder = builder.OpenComponent(comboBoxType);

            attrBuilder.AddAttributeIfValueNotNull("RelationshipOptions", relationshipOptions);
            attrBuilder.AddAttributeIfValueNotNull("Value", relationIdPropertyInfo.GetPropertyValueIfNotNull(context.EditModel));
            attrBuilder.AddAttributeIfValueNotNull("ValueExpression", BuildValueExpression(relationIdPropertyInfo.Name,
                relationIdPropertyInfo.PropertyType, context.EditModel));

            var evtCallBack = CreateValueChangedEventCallBackActivator(relationIdPropertyInfo, context.EditModel);
            attrBuilder.AddAttributeIfValueNotNull("ValueChanged", evtCallBack);
            builder.CloseComponent();
        }
    }

    /// this will return the property info for the relationship property that ends with Id
    private PropertyInfo FindRelationshipPropertyType(string name)
    {
        var propertyName = $"{name}Id";
        return typeof(TItem).GetProperty(propertyName);
    }



    private void BuildTextAreaEditor(IBuilderComponent builder, PropertyOptions propertyOptions, GridEditFormTemplateContext context)
    {
        var propertyType = propertyOptions.PropertyInfo.PropertyType;
        var propertyName = propertyOptions.Name;
        var attrBuilder = builder.OpenComponent<DxMemo>();


        if (propertyOptions.InputOptions.SizeMode is { } sizeMode)
        {
            attrBuilder.AddAttributeIfValueNotNull(nameof(DxMemo.SizeMode), sizeMode);
        }

        attrBuilder.AddAttributeIfValueNotNull(nameof(DxMemo.Text), (string)propertyOptions.PropertyInfo.GetPropertyValueIfNotNull(context.EditModel));
        attrBuilder.AddAttributeIfValueNotNull(nameof(DxMemo.TextExpression), BuildValueExpression(propertyName, propertyType, context.EditModel));
        attrBuilder.AddAttributeIfValueNotNull(nameof(DxMemo.TextChanged),
                EventCallback.Factory.Create<string>(this, async (text) => { propertyOptions.PropertyInfo.SetValue(context.EditModel, text); }));
        builder.CloseComponent();
    }

    private void BuildTextEditor(IBuilderComponent builder, PropertyOptions propertiesOption, GridEditFormTemplateContext context)
    {
        var propertyType = propertiesOption.PropertyInfo.PropertyType;
        var propertyName = propertiesOption.Name;
        var attrBuilder = builder.OpenComponent<DxTextBox>();
        
        attrBuilder.AddAttributeIfValueNotNull(nameof(DxTextBox.Text), (string)propertiesOption.PropertyInfo.GetPropertyValueIfNotNull(context.EditModel));
        attrBuilder.AddAttributeIfValueNotNull(nameof(DxTextBox.TextExpression), BuildValueExpression(propertyName, propertyType, context.EditModel));
        var evtCallBack = CreateValueChangedEventCallBackActivator(propertiesOption.PropertyInfo, context.EditModel);
        attrBuilder.AddAttributeIfValueNotNull(nameof(DxTextBox.TextChanged), evtCallBack);
        
        builder.CloseComponent();
    }
    
    private void BuildDateEditor(IBuilderComponent builder, PropertyOptions propertiesOption, GridEditFormTemplateContext context)
    {
        var propertyType = propertiesOption.PropertyInfo.PropertyType;

        if (propertyType != typeof(DateTime))
        {
            throw new Exception("Date Edit Can only work on DateTime");
        }
        
        var propertyName = propertiesOption.Name;
        var editDateComponentType = typeof(DxDateEdit<>).MakeGenericType(typeof(DateTime));
        var attrBuilder = builder.OpenComponent(editDateComponentType);
        
        attrBuilder.AddAttributeIfValueNotNull(nameof(DxDateEdit<DateTime>.Date), (DateTime)propertiesOption.PropertyInfo.GetPropertyValueIfNotNull(context.EditModel));
        attrBuilder.AddAttributeIfValueNotNull(nameof(DxDateEdit<DateTime>.DateExpression), BuildValueExpression(propertyName, propertyType, context.EditModel));
        var evtCallBack = CreateValueChangedEventCallBackActivator(propertiesOption.PropertyInfo, context.EditModel);
        attrBuilder.AddAttributeIfValueNotNull(nameof(DxDateEdit<DateTime>.DateChanged), evtCallBack);
        
        builder.CloseComponent();
    }

    private void BuildMaskedTextEditor(IBuilderComponent builder, PropertyOptions propertiesOption, GridEditFormTemplateContext context)
    {
        // build masked textbox from property type
        var propertyType = propertiesOption.PropertyInfo.PropertyType;
        var propertyName = propertiesOption.Name;
        var maskedType = typeof(DxMaskedInput<>).MakeGenericType(propertyType);
        var attrBuilder = builder.OpenComponent(maskedType);

        
        attrBuilder.AddAttributeIfValueNotNull("MaskMode", propertiesOption.InputOptions.MaskMode);
        attrBuilder.AddAttributeIfValueNotNull("Mask", propertiesOption.InputOptions.Mask);
        attrBuilder.AddAttributeIfValueNotNull("Value", propertiesOption.PropertyInfo.GetPropertyValueIfNotNull(context.EditModel));
        attrBuilder.AddAttributeIfValueNotNull("ValueExpression", BuildValueExpression(propertyName, propertyType, context.EditModel));
        var evtCallBack = CreateValueChangedEventCallBackActivator(propertiesOption.PropertyInfo, context.EditModel);
        attrBuilder.AddAttributeIfValueNotNull("ValueChanged", evtCallBack);
        
        builder.CloseComponent();
    }

    private static LambdaExpression BuildValueExpression(string propertyName, Type propertyType, object? dataItem)
    {
        if (dataItem is null)
        {
            return null;
        } 
        var memberExpression = Expression.Constant(dataItem);
        var propertyExpression = Expression.Property(memberExpression, propertyName);
        return Expression.Lambda(typeof(Func<>).MakeGenericType(propertyType), propertyExpression);
    }

    private object CreateValueChangedEventCallBackActivator(PropertyInfo propertyInfo, object dataItem)
    {
        return CreateValueChangedEventCallbackMethodInfo!
            .MakeGenericMethod(propertyInfo.PropertyType)!
            .Invoke(null, new[]
            {
                this,
                propertyInfo,
                dataItem
            })!;
    }
    
    
    private MethodInfo? _createValueChangedEventCallBackMethodInfo;
    private MethodInfo CreateValueChangedEventCallbackMethodInfo => _createValueChangedEventCallBackMethodInfo ??= this.GetType().GetMethod(nameof(CreateValueChangedEventCallBack),BindingFlags.Static | BindingFlags.NonPublic | BindingFlags.InvokeMethod);

    
    /// this allow to build a callback method for the ValueChanged event from reflection,
    /// so i can specify T dynamically
    private static EventCallback<T> CreateValueChangedEventCallBack<T>(object receiver, PropertyInfo propertyInfo, object dataItem)
    {
        void SetValue<TValue>(TValue value)
        {
            propertyInfo.SetValue(dataItem, value);
        }

        return EventCallback.Factory.Create<T>(receiver, SetValue);
    }


    private RenderFragment BuildColumns()
    {

        void Columns(RenderTreeBuilder builder)
        {
            var componentBuilder = builder.BuilderWithCounter();
            foreach (var  propertyOptions in SaConfig.GetConfiguredType<TItem>().PropertyOptions)
            {
                var attributeBuilder = componentBuilder.OpenComponent<DxGridDataColumn>();
                attributeBuilder
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.FieldName), propertyOptions.Name)
                    .AddAttributeValueOrDefault(nameof(DxGridDataColumn.Caption), propertyOptions.ColumnOptions.Label, propertyOptions.Name)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.Visible), propertyOptions.ColumnOptions.Visible)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.DisplayFormat), propertyOptions.ColumnOptions.DisplayFormat)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.Width), propertyOptions.ColumnOptions.Width)
                    .AddAttribute(nameof(DxGridDataColumn.FilterRowOperatorType), GridFilterRowOperatorType.Default)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.AllowGroup), propertyOptions.ColumnOptions.AllowGroup)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.AllowSort), propertyOptions.ColumnOptions.AllowSort)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.MinWidth), propertyOptions.ColumnOptions.MinWidth)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.CellDisplayTemplate), propertyOptions.ColumnOptions.CellDisplayTemplate)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.CellEditTemplate), propertyOptions.ColumnOptions.CellEditTemplate)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.FooterTemplate), propertyOptions.ColumnOptions.FooterTemplate)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.GroupIndex), propertyOptions.ColumnOptions.GroupIndex)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.GroupInterval), propertyOptions.ColumnOptions.GroupInterval)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.SortIndex), propertyOptions.ColumnOptions.SortIndex)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.ShowInColumnChooser), propertyOptions.ColumnOptions.ShowInColumnChooser)
                    .AddAttributeIfValueNotNull(nameof(DxGridDataColumn.FilterRowValue), propertyOptions.ColumnOptions.FilterRowValue);
                
                componentBuilder.CloseComponent();
            }
        }

        return Columns;
    }

    private void OnCustomizeCellDisplayText(GridCustomizeCellDisplayTextEventArgs args)
    {
        var property = SaConfig.GetConfiguredType<TItem>().GetPropertyOptions(args.FieldName);
        if (property is { } && property.ColumnOptions.ValueFormatter is { } valueFormatter)
        {
            args.DisplayText = valueFormatter(args.DataItem);
        }
    }
}