@inherits ServiceStack.Blazor.BlazorComponentBase
@using System.Linq.Expressions
@typeparam TRelationValue
@typeparam TData 

<DxComboBox TData="@TData" TValue="TRelationValue" 
            TextFieldName="@RelationshipOptions.TextFieldName"
            ValueFieldName="@RelationshipOptions.ValueFieldName"
            ValueChanged="@ValueChanged"
            ValueExpression="@ValueExpression"
            Value="@Value"
            Data="@Items" ></DxComboBox>

@code {
    
    [Parameter]
    public RelationshipOptions RelationshipOptions { get; set; }
    
    [Parameter]
    public TRelationValue Value { get; set; }

    private List<TData> Items { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var requestDto = RelationshipOptions.ItemsSource.Invoke(this, Value);
       // Console.WriteLine("RequestDto: {0} {1}" , requestDto?.ToString(), typeof(TData).Name);
        var result = await this.ApiAsync(requestDto as IReturn<QueryResponse<TData>>);
        Items = result?.Response?.Results ?? new List<TData>();
    }

    [Parameter]
    public Expression<Func<TRelationValue>> ValueExpression { get; set; }
    
    [Parameter]
    public EventCallback<TRelationValue> ValueChanged { get; set; }
}