@page "/counter"
@inherits AppComponentBase

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="mt-4">
    <SrcLink href="https://github.com/NetCoreTemplates/blazor-wasm/blob/master/ServiceStack.AutoUI.Client/Pages/Counter.razor" IconSrc="/img/blazor.svg" />
</div>

@code {
    int currentCount = 0;

    void IncrementCount() => currentCount++;
}
